#root {
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 40px 60px;
}

input {
  color: black;
  font-size: 16px;
  max-width: 400px;
  outline: auto lightgray;
  padding: 3px;
  width: 100%;
}

input:focus {
  outline: 1px solid black;
}

input::placeholder {
  color: grey;
  font-size: 14px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border-radius: 6px;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  margin: 6px;
  overflow: hidden;
}

.card:hover {
  cursor: pointer;
}

.card p {
  font-size: 14px;
  margin: auto;
  max-width: fit-content;
  padding: 5px;
  text-align: center;
}

.card img {
  border-radius: 6px;
  margin: 4px;
  max-height: 180px;
  max-width: fit-content;
}

.category-name {
  animation-duration: 3s;
}
