#root {
  --light-color: rgb(248, 248, 248);
  --primary-color: #79fcb0;
  --primary-color-darker: #098757;
  --secondary-color: #181818;
  --container-color: lightgrey;
  --background-color: #252729;
  --light-grey: rgb(151, 151, 151);
  --delete-red: rgb(221, 50, 50);
}

* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #252729;
  background-color: black;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #464b4d;
  -webkit-box-shadow: inset 0 0 6px rgb(9, 135, 87, 0.5);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(122, 122, 122);
  border-radius: 50px;
  outline: 1px solid var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(143, 143, 143);
}

.app-container {
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: var(--secondary-color);
  border-bottom: 2px solid var(--light-grey);
  padding-left: 18px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-title {
  color: var(--primary-color);
  margin: 30px 40px;
}

.search-wrapper {
  display: flex;
  width: fit-content;
  width: 60%;
}

.search-container {
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 0 30px 0 30px;
  gap: 1rem;
}

input {
  border-radius: 5px;
  color: black;
  font-size: 16px;
  margin-bottom: 12px;
  width: 380px;
  outline: auto var(--primary-color);
  padding: 3px;
  width: 100%;
}

input:focus {
  outline: 2px solid var(--primary-color);
  transition: 0.8s;
  filter: drop-shadow(0 0mm 2mm var(--primary-color));
}

input::placeholder {
  color: var(--secondary-color);
  font-size: 14px;
}

.reset-button,
.search-button,
.search-quantity {
  position: relative;
  width: 22px;
  height: 26px;
  align-items: center;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 1rem;
  background-color: var(--background-color);
  border-radius: 5px;
  box-sizing: content-box;
}

.reset-button {
  color: white;
}

.search-button {
  color: var(--primary-color);
  outline: 2px solid var(--primary-color-darker);
}

.search-quantity {
  width: 50px;
  height: 28px;
}

.reset-button:hover {
  cursor: pointer;
  transition: 0.5s;
  color: var(--delete-red);
  filter: drop-shadow(0 0mm 1mm var(--delete-red));
}

.search-button:hover {
  cursor: pointer;
  transition: 0.5s;
  color: var(--primary-color);
  filter: drop-shadow(0 0mm 1mm var(--primary-color));
}

.results-list {
  padding: 0;
  margin-bottom: 70px;
  margin-top: 150px;
}

.category-container {
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 8px 40px 0px 40px;
  padding: 6px;
}

.category-header {
  display: flex;
  justify-content: start;
}

.category-name {
  animation-duration: 1s;
  background: rgb(25, 26, 27);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: var(--light-color);
  margin: 1px 0 4px 0;
  padding: 6px 0px 6px 16px;
  width: 100%;
  background: linear-gradient(90deg, rgb(2, 90, 56) 0%, rgb(89, 185, 129) 100%);
}

.icon-delete {
  align-items: center;
  background-color: var(--container-color);
  border-radius: 50px;
  color: var(--secondary-color);
  cursor: pointer;
  display: flex;
  font-size: 22px;
  height: 20px;
  justify-content: center;
  margin: 8px;
  padding-bottom: 0px;
  position: absolute;
  right: 45px;
  width: 20px;
}

.icon-delete:hover {
  transition: 1s;
  background-color: var(--delete-red);
}

.card-img {
  background-color: var(--secondary-color);
  border-radius: 6px;
  border: 1px solid var(--primary-color-darker);
  display: inline-block;
  margin: 4px;
  padding: 0px;
  animation-duration: 4s;
  transition: 0.5s;
  overflow: hidden;
  height: 160px;
  max-width: fit-content;
}

.card-img:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: drop-shadow(0 0mm 2mm var(--primary-color));
}

.scrolling-wrapper {
  max-height: 224px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.app-footer {
  background-color: var(--secondary-color);
  border-top: 2px solid var(--light-grey);
  width: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

.app-footer-content {
  display: flex;
  width: 100%;
  padding-inline: 40px;
  justify-content: space-between;
}

.app-footer-content a {
  color: var(--primary-color);
  align-self: center;
}

.footer-logo {
  width: 2rem;
  aspect-ratio: 1;
  transition: 0.5s;
  filter: invert(31%) sepia(59%) saturate(1402%) hue-rotate(125deg)
    brightness(101%) contrast(93%);
}

.footer-logo:hover {
  transition: 0.5s;
  filter: invert(99%) sepia(56%) saturate(1787%) hue-rotate(62deg)
    brightness(115%) contrast(98%);
}

.app-footer-content p {
  color: lightgray;
}

@media (max-width: 600px) {
  .app-header {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-title {
    display: flex;
    justify-content: center;
  }

  .search-wrapper {
    display: flex;
    width: calc(100% - 26px);
    margin: 0;
  }

  .app-header > form {
    display: flex;
    justify-content: center;
  }

  .search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 30px 0 40px;
  }
  input {
    min-width: 100%;
    margin: 0 0 12px 0;
  }
  input::placeholder {
    text-align: center;
  }

  .category-container {
    margin: 8px 16px 0px 16px;
  }

  .icon-delete {
    right: 20px;
    transition: none;
  }

  .card-img {
    height: 120px;
  }

  .app-footer-content {
    padding-inline: 20px;
  }
}
