/* #root {
  --light-color: white;
  --primary-color: rgb(169, 169, 169);
  --secondary-color: gray;
  --container-color: lightgrey;
} */

#root {
  --light-color: white;
  --primary-color: rgb(169, 169, 169);
  --secondary-color: gray;
  --container-color: lightgrey;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--light-color);
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 50px;
  outline: 1px solid var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

.app-container {
  display: flex;
  flex-direction: column;
}

.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 20px;
  padding-left: 18px;
  z-index: 1;
  background-color: var(--secondary-color);
}

.header-title {
  color: var(--primary-color);
  margin: 30px 40px;
}

input {
  border-radius: 5px;
  color: black;
  font-size: 16px;
  max-width: 370px;
  outline: auto var(--primary-color);
  padding: 3px;
  width: 100%;
  margin-left: 40px;
  margin-bottom: 12px;
}

input:focus {
  outline: 1px solid var(--primary-color);
}

input::placeholder {
  color: var(--secondary-color);
  font-size: 14px;
}

.results-list {
  padding: 0;
  margin-top: 147px;
}

.category-container {
  margin: 16px 40px 0px 40px;
  background-color: var(--container-color);
  padding: 6px;
  border-radius: 10px;
}

.card {
  background-color: var(--primary-color);
  border-radius: 6px;
  border: 2px solid var(--secondary-color);
  display: inline-block;
  margin: 4px;
  padding: 2px;
  transition: 0.5s;
  /* overflow: hidden; */
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  max-height: 224px;
  padding-bottom: 4px;
}

.card:hover {
  cursor: pointer;
  /* transform: scale(1.2);
  margin: 20px;
  z-index: 1; */
  /* position: absolute; */
}

.card p {
  font-size: 14px;
  margin: auto;
  max-width: fit-content;
  padding: 5px;
  text-align: center;
}

.card img {
  border-radius: 6px;
  margin: 4px;
  max-height: 160px;
  max-width: fit-content;
}

.category-name {
  animation-duration: 3s;
  padding: 12px 0px 12px 16px;
  margin: 1px 0 4px 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: var(--primary-color);
}

.app-footer {
  /* background-color: rgb(185, 173, 173); */
  height: 100px;
  margin: 0;
}

.app-footer-content {
}
